<!DOCTYPE html>
<html lang="en">
<head>
    <title>Morroco24</title>
    <div th:replace="journaliste/journalisteFragments :: head_elements"></div>
    <meta charset="utf-8">
     <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
</head>
<body class="sb-nav-fixed">
<div th:replace="journaliste/journalisteFragments :: navbar"></div>
<div id="layoutSidenav">
    <div th:replace="journaliste/journalisteFragments :: layoutSidenav_nav"></div>
    <div id="layoutSidenav_content">
        <main>

            <div class="card container" style="padding-bottom: 2%;padding-top: 2%;width: 60%;margin-top: 5%;margin-left: 5%;">

            <form th:action="@{/journalistes/update-article}" class="row g-3" th:object="${article}" method="POST">

                <div class="form-group">
                    <label class="form-label">Titre</label>
                     <input type="text" th:field="*{titre}" name="titre" placeholder="Titre" class="form-control" required>
                </div>

                <div class="form-group">
                    <label class="form-label">Sujet</label>
                     <select  required class="form-select" name="publicIdSujet">
                        <option th:selected="${sjt.id}==${article.sujet.id}"  th:each="sjt : ${sujets}"  th:text="${sjt.sujet}" th:value="${sjt.publicId}"></option>
                      </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Contenu</label>
                    <textarea class="form-control"  th:field="*{contenu}" id="contenu"  name="contenu" rows="5"  placeholder="Contenu" min="1" maxlength="40" required>
                    </textarea>
                     <script>
                        ClassicEditor
                                .create( document.querySelector( '#contenu' ) )
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
                </script>
                </div>

                <input type="hidden" th:field="*{publicId}"/>

                <div class="box-footer">
                    <button type="submit" th:disabled="${article.estValide}" class="btn btn-primary" >Modifier</button>
                </div>

            </form>
            </div>
        </main>

        <div th:replace="journaliste/journalisteFragments :: footer"></div>
    </div>
</div>
<div th:replace="journaliste/journalisteFragments :: javaScriptLinks"></div>
</body>
</html>